@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,300;0,400;1,200;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap');


* { 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: #000;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #373737;
}

body {
  background-image: url('../img/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'KoHo', Verdana;

  max-width: 900px;
  margin: auto;
}

/* Imagem do 1º header */
.photo {
  border: 2px solid #fff;
  border-radius: 50%;

  width: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  transition: all ease 0.8s;
}

.photo:hover {
  width: 300px;
  transition: all ease 0.8s;
}

/* Título do 1º header */
#title {
  color: #fff;
  font-size: 2.3rem;
  font-family: 'Rajdhani';
  /* text-transform: capitalize; */
  text-align: center;
  padding: 0;
  margin: 10px 5px 0 5px;
}

.insta_title {
  margin: 0 0 5rem 0;
  padding: 0;
  text-align: center;
  font-family: 'KoHo';
  font-style: italic;

  transition: all ease 0.4s;
}

.insta_title:hover {
  text-decoration: underline;
  opacity: 0.6;
  transition: all ease 0.4s;
}

a {
  text-decoration: none;
  color: #fff;
}

.subtitle {
  margin-left: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
}

/* Título da postagem */
.post_title {
  color: #505050;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

/* O container da postagem, que no caso é o article html */
.post {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 2px solid #505050;
  border-radius: 1%;
  padding: 15px;
  font-size: 1.1rem;
  color: #505050;
  background: #fff;
}

.post a {
  color: #505050;
  transition: all ease 0.7s;
}

.post a:hover {
  color: #505050;
  opacity: 0.6;
  transition: all ease 0.7s;
}

/* Conteúdo da postagem */
.post_content {
  margin: 0;
  margin-bottom: 15px;
  /* text-transform: capitalize; */
  text-align: justify;
}

/* Imagem da postagem */
.img_post {
  margin-bottom: 15px;
  border-radius: 5px;

  /* max-width: 800px; */
  width: 100%;
}

.footer_article {
  font-size: 0.875rem;
  font-style: italic;
  color: #505050;
}

/* aside{
    width: 13%; height: 100%; 
    position: fixed; 
    right: 0; 
    top: 0;
    /* background-color: #c69; 
}*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: -7%;
  }


.openbtn {
    position: absolute; 
    right: 0; 
    top: 0;

    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 20px;
    border: none;

    transition: all ease .5s;
  }

  .openbtn:hover {
    background-color: #444;
    transition: all ease .5s;
  }

  #collapsed {
    transition: margin-right .5s;
    padding: 0;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .openbtn {
        padding: 10px 50px;
    }
  }

.footer_page {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 10px;
  border-radius: 1%;
  border: 2px solid #505050;
  background: #fff;
  color: #505050;
  text-align: center;
}

.footer_page h4 {
  font-size: 2.3rem;
  margin-top: 0.5rem;
  padding: 0;
  margin-bottom: 0;
}

.footer_page iframe {
  box-sizing: border-box;
  border: 0.0875rem solid #000;
  border-radius: 5px;
  width: 95%;
  height: 20rem;
  margin: 0 5px 0 5px;
  margin-bottom: 0.3rem;
}

.contact_list {
  /* list-style-type: square; */
  /* list-style-type: upper-roman; */
  /* list-style-type: "\1F44D"; */
  /* list-style-image: url(''); */
  list-style: none;
  margin: 5px 0 15px;
  padding: 5px 0 0 0;
  text-align: center;
}

.contact_list li {
  margin: 10px 20px 0 20px;
  text-align: center;
  display: inline-block;
}



.contact_list li i {
  font-size: 32px;
}

.contact_list li p {
  margin: 0;
  font-size: 1.5rem;
}

.contact_list li a {
  /* 'font-weight: 600;
    font-size: 1.2rem;' */
  text-decoration: none;
  color: #505050;
}

.contact_list li a i {
  transition: 0.2s;
}
.contact_list li a:hover i {
  transform: scale(1.2) translateY(-10px);
}

.footer_text {
  text-align: center;
  font-style: italic;
  margin: 0 5px 0 5px;
  padding: 0;
  font-size: 0.9rem;
}

#copyright{
    width: 75%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.975rem;
    font-family: 'Rajdhani';
}

#go_back{
    background: #000;
    width: 4.5rem;
    padding: .5rem;
    height: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 1.2rem;
    font-weight: 700;
}

#github{
    transition: filter ease 0.7s;
}

#github:hover{
    filter: brightness(0.3);
    transition: filter ease 0.7s;
}

